

html, cuerpo, div, span, subprograma, objeto, iframe,
h1, h2, h3, h4, h5, h6, p, cita en bloque, pre,
a, abbr, acrónimo, dirección, grande, citar, código,
del, dfn, em, img, ins, kbd, q, s, samp,
pequeño, huelga, fuerte, sub, sup, tt, var,
b, u, i, centro,
dl, dt, dd, ol, ul, li,
conjunto de campos, formulario, etiqueta, leyenda,
tabla, título, cuerpo, pie, cabeza, tr, th, td,
artículo, aparte, lienzo, detalles, incrustar,
figura, figcaption, pie de página, encabezado, hgroup,
menú, navegación, salida, ruby, sección, resumen,
tiempo, marca, audio, video {
	margen: 0;
	relleno: 0;
	borde: 0;
	tamaño de fuente: 100%;
	fuente: heredar;
	alineación vertical: línea base;
}
/* Restablecimiento de la función de visualización HTML5 para navegadores más antiguos */
artículo, aparte, detalles, pie de figura, figura,
pie de página, encabezado, hgroup, menú, navegación, sección {
	pantalla: bloque;
}
cuerpo {
	altura de línea: 1;
}
ol, ul {
	estilo de lista: ninguno;
}
cita en bloque, q {
	citas: ninguna;
}
cita en bloque:antes, cita en bloque:después,
q:antes, q:después {
	contenido: '';
	contenido: ninguno;
}
mesa {
	colapso de frontera: colapso;
	espaciado del borde: 0;
}