
body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: hsla(27, 75%, 71%, 0.945);
  color:#713dd8;
  margin: 30px;
}

h1{
    margin-left: 100px;
}
p{
    color:black;
}
section,div{
    background-color: bisque;
}

.contenedor-de-secciones{
    background-color: bisque;
    display: flex;
    flex-direction: row;
    justify-content:space-between;

}


.seccion1{
    background-color: azure;
    width:750px;
    border: 2px solid saddlebrown;
}
.seccion2{ 
    background-color: aliceblue;
    width: 750px;
    border: 2px solid saddlebrown;
}
.seccion2:hover{
    background-color: bisque;
    transition-duration: 2s;
}
.seccion1:hover{
    background-color: bisque;
    transition-duration: 2s;
}